@import "tailwindcss";
@config "../../tailwind.config.js";

.clip-diagonal {
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
}

@media (max-width: 1024px) {
  .clip-diagonal {
    clip-path: none;
  }
}

.container--common {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2rem;
}
