@import "tailwindcss";
@config "../../tailwind.config.js";

.clip-diagonal {
  clip-path: polygon(8% 0, 100% 0, 100% 100%, 0% 100%);
}

@media (max-width: 1024px) {
  .clip-diagonal {
    clip-path: none;
  }
}

.gradient-section {
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  margin-top: -3rem;
  background-image: linear-gradient(to bottom right, #e0e7ff, #f7f7f7, #ecfeff);
}
